dashBoard.json
[
    {
        "id": "84a344a146f9c67c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e7b50a5f481678a1",
        "type": "ui_worldmap",
        "z": "84a344a146f9c67c",
        "group": "06ca1cf44cb924ad",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "38.756289904614285",
        "lon": "-9.116206120953649",
        "zoom": "14",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1100,
        "y": 260,
        "wires": []
    },
    {
        "id": "1c53f5c4bf2a8182",
        "type": "ui_template",
        "z": "84a344a146f9c67c",
        "group": "11f3154361243871",
        "name": "Tabela com Links",
        "order": 1,
        "width": 12,
        "height": 5,
        "format": "<table style=\"margin: auto;\" ng-if=\"msg.payload\">\n  <thead>\n    <tr>\n      <th style=\"text-align: center;\">Device_Id</th>\n      <th style=\"text-align: center;\">Battery</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr ng-repeat=\"item in msg.payload\">\n      <td style=\"text-align: center;\"><a href=\"\" ng-click=\"send({payload: item})\">{{item.name}}</a></td>\n      <td style=\"text-align: center;\">{{item.Baterry}}</td>\n    </tr>\n  </tbody>\n</table>\n<div ng-if=\"!msg.payload || msg.payload.length === 0\" style=\"text-align: center;\">No data available</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 750,
        "y": 320,
        "wires": [
            [
                "555efb3880b734d3",
                "6915388b0d38ef8a"
            ]
        ]
    },
    {
        "id": "555efb3880b734d3",
        "type": "function",
        "z": "84a344a146f9c67c",
        "name": "Processar Clique",
        "func": "var selected = msg.payload;\nvar lat = selected.lat;\nvar lon = selected.lon;\n\nmsg.payload = {\n    \"name\": selected.name,\n    \"lat\": lat,\n    \"lon\": lon,\n    \"icon\": \"https://static.vecteezy.com/system/resources/previews/014/545/648/original/garbage-container-icon-simple-style-vector.jpg\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 260,
        "wires": [
            [
                "e7b50a5f481678a1"
            ]
        ]
    },
    {
        "id": "fe6fe021f4098b8b",
        "type": "ui_gauge",
        "z": "84a344a146f9c67c",
        "name": "",
        "group": "11f3154361243871",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Nivel de Enchimento",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "45",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 400,
        "wires": []
    },
    {
        "id": "6915388b0d38ef8a",
        "type": "function",
        "z": "84a344a146f9c67c",
        "name": "getPay",
        "func": "\nmsg.payload = msg.payload.trafego_utilizacao;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 400,
        "wires": [
            [
                "fe6fe021f4098b8b"
            ]
        ]
    },
    {
        "id": "077b1fcaaebb924f",
        "type": "function",
        "z": "84a344a146f9c67c",
        "name": "Buffer to Text",
        "func": "var newPayload = []\n\n\nfor (let i = 0; i < 8; i++) {\n    var ob = {\n        name: msg.payload[i].id,\n        lat: msg.payload[i].location[0],\n        lon:  msg.payload[i].location[1],\n        icon: \"vertical_traffic_light\",\n        Baterry: \"🔋 \" + msg.payload[i].battery + \"%\" ,\n        trafego_utilizacao: msg.payload[i].fillLevel\n    }\n    newPayload.push(ob)\n\n}\n//msg.payload = msg.payload[0];\n\n//msg.payload.forEach( item => newPayload.push(item));\nmsg.payload = newPayload;\n\nreturn msg;\n\n/*var newPayload = [];\nvar ob = {\n\n    name: msg.payload.id,\n    lat: msg.payload.location[0],\n    lon:  msg.payload.location[1],\n    icon: \"vertical_traffic_light\",\n    Baterry: \"🔋 \" + msg.payload.battery + \"%\" ,\n    trafego_utilizacao: msg.payload.fillLevel\n\n}\nnewPayload.push(ob);\nmsg.payload = newPayload;\nreturn msg;\n\n*/\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 320,
        "wires": [
            [
                "1c53f5c4bf2a8182"
            ]
        ]
    },
    {
        "id": "7440e9a842770cf4",
        "type": "mongodb3 in",
        "z": "84a344a146f9c67c",
        "service": "_ext_",
        "configNode": "8ce9501edb61864b",
        "name": "",
        "collection": "mycollection",
        "operation": "find.toArray",
        "x": 370,
        "y": 320,
        "wires": [
            [
                "077b1fcaaebb924f"
            ]
        ]
    },
    {
        "id": "c7515ff58da09851",
        "type": "link in",
        "z": "84a344a146f9c67c",
        "name": "link in 3",
        "links": [],
        "x": 105,
        "y": 320,
        "wires": [
            [
                "7440e9a842770cf4"
            ]
        ]
    },
    {
        "id": "91ef4804cd638ad2",
        "type": "ui_spacer",
        "z": "84a344a146f9c67c",
        "name": "spacer",
        "group": "11f3154361243871",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "4073690700141542",
        "type": "ui_spacer",
        "z": "84a344a146f9c67c",
        "name": "spacer",
        "group": "11f3154361243871",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "2d734a17c23b2893",
        "type": "ui_spacer",
        "z": "84a344a146f9c67c",
        "name": "spacer",
        "group": "11f3154361243871",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "6f0b615b89f62d65",
        "type": "ui_spacer",
        "z": "84a344a146f9c67c",
        "name": "spacer",
        "group": "11f3154361243871",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "dc603c630715effa",
        "type": "ui_spacer",
        "z": "84a344a146f9c67c",
        "name": "spacer",
        "group": "11f3154361243871",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "4bc9e7a5e818e6ef",
        "type": "ui_spacer",
        "z": "84a344a146f9c67c",
        "name": "spacer",
        "group": "11f3154361243871",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "b56bfc6254a45c7b",
        "type": "ui_spacer",
        "z": "84a344a146f9c67c",
        "name": "spacer",
        "group": "11f3154361243871",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "bd12094cd37f4ac5",
        "type": "ui_spacer",
        "z": "84a344a146f9c67c",
        "name": "spacer",
        "group": "11f3154361243871",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "ffc00ae3045f927d",
        "type": "ui_spacer",
        "z": "84a344a146f9c67c",
        "name": "spacer",
        "group": "11f3154361243871",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "a5484236d72dbe53",
        "type": "ui_spacer",
        "z": "84a344a146f9c67c",
        "name": "spacer",
        "group": "11f3154361243871",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "06ca1cf44cb924ad",
        "type": "ui_group",
        "name": "mapa",
        "tab": "680eae9888977a36",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11f3154361243871",
        "type": "ui_group",
        "name": "Devices",
        "tab": "680eae9888977a36",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ce9501edb61864b",
        "type": "mongodb3",
        "uri": "mongodb://orion-mongo-1:27017",
        "name": "mydatabase",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "680eae9888977a36",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]