flows (11).json
[
    {
        "id": "971f940ec05f36cb",
        "type": "tab",
        "label": "mqqTBroker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8125e1c99c6344ef",
        "type": "mqtt in",
        "z": "971f940ec05f36cb",
        "name": "connect TTN",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f2d3908a74072800",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "7e14a3ffe891bd76"
            ]
        ]
    },
    {
        "id": "7e14a3ffe891bd76",
        "type": "function",
        "z": "971f940ec05f36cb",
        "name": "getPayload",
        "func": "\n\n// bytes to Sting converter\nvar end_device_ids = msg.payload.end_device_ids.device_id;\nvar decoded_payload = msg.payload.uplink_message.decoded_payload;\nvar received_at = msg.payload.received_at;\nvar msg ={\n    \"end_device_id\": end_device_ids,\n    \"received_at\" :received_at,\n    \"decoded_payload\": decoded_payload\n}\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "b6a70c19ce8e5dfa"
            ]
        ]
    },
    {
        "id": "b6a70c19ce8e5dfa",
        "type": "function",
        "z": "971f940ec05f36cb",
        "name": "Create newpl",
        "func": "var device_id = msg.end_device_id;\nvar received_at = msg.received_at;\nvar latitude = msg.decoded_payload.latitude;\nvar longitude = msg.decoded_payload.longitude;\nvar estado_bateria = msg.decoded_payload.estado_bateria;\nvar trafego_utilizacao = msg.decoded_payload.trafego_utilizacao;\nreceived_at = new Date(received_at).toISOString();\n\n\nvar newPayload =\n    {\n\n    \"id\": \"WasteContainerObserved-\" + device_id,\n\n        \"type\": \"WasteContainerObserved\",\n\n            \"deviceId\": {\n\n        \"type\": \"String\",\n\n        \"value\": device_id\n\n    },\n\n    \"dateObserved\": {\n\n        \"type\": \"DateTime\",\n\n            \"value\": received_at\n\n    },\n\n    \"battery\": {\n\n        \"type\": \"Number\",\n\n            \"value\": estado_bateria\n\n    },\n\n    \"fillLevel\": {\n\n        \"type\": \"Number\",\n\n        \"value\": trafego_utilizacao\n\n    },\n\n    \"location\": {\n\n        \"type\": \"GeoProperty\",\n\n            \"value\": {\n\n            \"type\": \"Point\",\n\n                \"coordinates\": [\n\n                    latitude,\n\n                    longitude\n\n                ]\n\n        }\n\n    }\n\n}\nmsg.payload = newPayload;\nmsg.headers = {};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 280,
        "wires": [
            [
                "5548c23d5b427d7e"
            ]
        ]
    },
    {
        "id": "5548c23d5b427d7e",
        "type": "change",
        "z": "971f940ec05f36cb",
        "name": "HTTP headers",
        "rules": [
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 180,
        "wires": [
            [
                "d3cd9266aab1b221"
            ]
        ]
    },
    {
        "id": "d3cd9266aab1b221",
        "type": "http request",
        "z": "971f940ec05f36cb",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://orion:1026/v2/entities?options=upsert",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "msg",
                "valueValue": "headers"
            }
        ],
        "x": 870,
        "y": 300,
        "wires": [
            [
                "f0a97244607f94ab"
            ]
        ]
    },
    {
        "id": "f0a97244607f94ab",
        "type": "link out",
        "z": "971f940ec05f36cb",
        "name": "WasteMagment",
        "mode": "link",
        "links": [
            "c072193d3b1ea198"
        ],
        "x": 975,
        "y": 220,
        "wires": []
    },
    {
        "id": "f2d3908a74072800",
        "type": "mqtt-broker",
        "name": "teste",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]