flows (12).json
[
    {
        "id": "fdbab68d8554e570",
        "type": "tab",
        "label": "ClientOrion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c072193d3b1ea198",
        "type": "link in",
        "z": "fdbab68d8554e570",
        "name": "link in 2",
        "links": [
            "f0a97244607f94ab"
        ],
        "x": 405,
        "y": 260,
        "wires": [
            [
                "c6ac13df9a142147"
            ]
        ]
    },
    {
        "id": "c6ac13df9a142147",
        "type": "http request",
        "z": "fdbab68d8554e570",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://orion:1026/v2/entities",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 200,
        "wires": [
            [
                "ef4b0a760142bcd0"
            ]
        ]
    },
    {
        "id": "ef4b0a760142bcd0",
        "type": "function",
        "z": "fdbab68d8554e570",
        "name": "",
        "func": "\nvar msgFilter = JSON.parse(msg.payload);\n\nconst filteredData = msgFilter.filter(item => item.id.startsWith(\"WasteContainerObserved\"));\n\nmsg.payload = filteredData\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 300,
        "wires": [
            [
                "93322d1dd9a177e8"
            ]
        ]
    },
    {
        "id": "93322d1dd9a177e8",
        "type": "function",
        "z": "fdbab68d8554e570",
        "name": "Prepare parameters to MongoDB",
        "func": "var battery = msg.payload[0].battery.value;\nvar dateObserved = msg.payload[0].dateObserved.value;\nvar deviceId = msg.payload[0].deviceId.value;\nvar fillLevel = msg.payload[0].fillLevel.value;\nvar location = msg.payload[0].location.value.coordinates;\nvar id = msg.payload[0].id;\n\nvar newMsg = {\n    collection: 'mycollection', // Nome da coleção MongoDB\n    operation: 'update',\n    payload: [\n        { id: id }, // Filtro para encontrar o documento a ser atualizado\n        {\n            \"$set\": {\n                \"battery\": battery, //{ \"type\": \"Number\", \"value\": 8 },\n                \"dateObserved\": dateObserved,//{ \"type\": \"DateTime\", \"value\": \"2024-06-14T19:32:03.000Z\" },\n                \"deviceId\": deviceId, //{ \"type\": \"String\", \"value\": \"eui-01b1d1419131b1b4\" },\n                \"fillLevel\": fillLevel, //{ \"type\": \"Number\", \"value\": 40 },\n                \"location\": location//{ \"type\": \"GeoProperty\", \"value\": { \"type\": \"Point\", \"coordinates\": [38.758201599, -9.113800049] } }\n            }\n        },\n        { upsert: true } // Opções para a operação (upsert:true para inserir se não existir)\n    ]\n};\n\nreturn newMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 200,
        "wires": [
            [
                "9f91974833c9c453"
            ]
        ]
    },
    {
        "id": "9f91974833c9c453",
        "type": "mongodb3 in",
        "z": "fdbab68d8554e570",
        "service": "_ext_",
        "configNode": "8ce9501edb61864b",
        "name": "",
        "collection": "mycollection",
        "operation": "",
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "6e4b222d5ca1645d"
            ]
        ]
    },
    {
        "id": "6e4b222d5ca1645d",
        "type": "link out",
        "z": "fdbab68d8554e570",
        "name": "link out 1",
        "mode": "link",
        "links": [],
        "x": 1185,
        "y": 260,
        "wires": []
    },
    {
        "id": "8ce9501edb61864b",
        "type": "mongodb3",
        "uri": "mongodb://orion-mongo-1:27017",
        "name": "mydatabase",
        "options": "",
        "parallelism": "-1"
    }
]